[defaults]
host_key_checking = False
inventory = inventory/
roles_path = roles/
retry_files_enabled = False
gathering = smart
stdout_callback = yaml

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
